/* HTML: <div class="loader"></div> */
.loader {
    --b: 8px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #cc5f00a1;
    -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 70deg, rgba(0, 0, 0, 0) 71deg 90deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5-0e34be81 1s infinite;
    display: block;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
}

@keyframes l5 {
    to {
        transform: rotate(.5turn)
    }
}