.profile-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    width: 20rem;
    height: 30rem;
    margin: auto;
    position:relative;
    animation: fadeIn 1.5s;
}

.profile-img:after {
    content: " ";
    margin: auto;
    background-color: transparent;
    border: 2px solid #CC5F00;
    position: absolute;
    height: 30rem;
    width: 19rem;
    left: auto;
    right: 3rem;
    top: 2rem;
    border-radius: 13px;
    z-index: -1;
    animation: fadeIn 10s;
}